<div class="center jumbotron">
    <h1>Welcome to your Personal Web Development Playground</h1>

    <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success" %>
    
    <h2>This is an affiliate of Spongebyte Inc.</h2>    
    
    
</div>

<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            Placeholder 1
        </h3>
        <h2 class="left">Placeholder 2</h2>
        <p><%= link_to "Add Link Later", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            Placeholder 1
        </h3>
        <h2 class="left">Placeholder 2</h2>
        <p><%= link_to "Add Link Later", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            Placeholder 1
        </h3>
        <h2 class="left">Placeholder 2</h2>
        <p><%= link_to "Add Link Later", "", class: "btn btn-warning btn-small" %></p>
    </div>
</div>